#header {
  background-color: #f3f5f4;
  .site-logo {
    max-width: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .social-icons {
    ul {
      display: flex;
      column-gap: 4px;
      li {
        max-width: 32px;
      }
    }
  }
}

#main-nav {
  position: relative;
  margin: 0 auto;
  text-align: center;
  z-index: 20;
  background-color: #f3f5f4;
  margin-bottom: 10px;

  & > .wrap {
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.06);
    background-color: white;
  }

  ul.primary-menu {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 9;
    font-size: 0;
  }

  li {
    position: static;
    display: inline-block;
    margin: 0;
    font-size: 13px;
  }

  a {
    display: block;
    padding: 12px 16px 10px;
    margin: 0;
    color: black;
    font-size: 14px;
    line-height: 1.714285714;
    text-decoration: none;
    white-space: nowrap;
    border-bottom: 2px solid transparent;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  li.menu-item-has-children {
    padding: 12px 10px 10px 16px;
  }

  li.current-menu-ancestor > a {
    border-bottom-color: #f44336;
    color: inherit;
  }

  ul.nav-menu > li:hover > a {
    color: inherit;
    border-bottom-color: #c2c2c2;
  }

  li ul {
    position: absolute;
    display: none;
    width: 220px;
    margin: 0;
    padding: 8px 0;
    list-style: none;
    top: 100%;
    background: #fff;
    text-align: left;
    z-index: 10;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  li li {
    width: 100%;
    border: none;
  }

  li ul li a {
    float: none;
    display: block;
    margin: 0;
    padding: 6px 16px;
    color: #757575;
    white-space: nowrap;
    letter-spacing: normal;
    text-transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;

    &:hover {
      color: #212121;
      background: #eee;
    }
  }

  // seach form
  .search-trigger {
    color: inherit;
    position: absolute;
    width: 36px;
    height: 36px;
    right: 0;
    top: 6px;
    opacity: 0.87;
    z-index: 999;

    &:before {
      display: inline-block;
      font-family: "icomoon" !important;
      font-weight: normal;
      font-style: normal;
      font-size: 14px;
      line-height: 36px;
      height: 36px;
      width: 36px;
      text-transform: none;
      text-align: center;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: "liga";
      content: "\f002";
    }

    &.search-btn-active {
      &:before {
        font-size: 18px;
        content: "\e5cd";
        color: #757575;
      }
    }
  }

  .search-form {
    margin-bottom: 18px;
    position: absolute;
    right: 0;
    top: 6px;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;

    &:before {
      position: absolute;
      top: 6px;
      left: 12px;
      color: #9e9e9e;
      font-family: Fontawesome;
      font-weight: normal;
      font-style: normal;
      font-size: 14px;
      display: inline-block;
      height: 24px;
      line-height: 1;
      line-height: 24px;
      text-transform: none;
      text-align: center;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: "liga";
      content: "\f002";
    }
    .search-submit {
      visibility: hidden;
      display: none;
    }

    .search-field {
      padding-left: 32px;
      color: #757575;
      border-color: rgba(0, 0, 0, 0.12);

      @media only screen and (min-width: 840px) {
        width: 240px;
      }
    }

    &.search-active {
      opacity: 1;
      z-index: 10;
    }
  }
}
