.category .pagination-container {
  margin-top: 40px;

  display: flex;
  column-gap: 10px;
  justify-content: center;

  & > a,
  span {
    padding: 0.438rem 0.625rem;
    line-height: 1;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    text-align: center;
  }

  span {
    background-color: #f11d29;
    color: white;
  }
}
