.loading-indicator--flash div {
  border-radius:50%;
  height: 6px; 
  width: 6px;
  display: inline-block;
  box-sizing: border-box;
  background: #0ea6fd;
}
.loading-indicator--flash div:nth-of-type(4) {
  animation:flash 0.4s 0.1s ease-in-out infinite;
}
.loading-indicator--flash div:nth-of-type(3) {
  animation:flash 0.4s linear infinite;
}
.loading-indicator--flash div:nth-of-type(2) {
  animation:flash 0.4s -0.1s linear infinite;
}
.loading-indicator--flash div:nth-of-type(1) {
  animation:flash 0.4s -0.2s linear infinite;
}

@keyframes flash {
  0% { opacity: 0; }
  50% { opacity: 0.5 }
  100% { opacity: 1.0 }
}