.hamburger {
  $gray: #333333;
  $white: #ffffff;
  $base-transition: all 0.3s;
  $line-height: 4px;
  $line-radius: 5px;

  width: 24px;
  margin: auto;
  .menu_icon {
    position: relative;
    width: 24px;
    height: 18px;
  }
  @include mq($from: md) {
    width: 36px;
    .menu_icon {
      width: 36px;
      height: 24px;
    }
  }

  .border {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: $line-height;
    border-radius: $line-radius;
    transition: $base-transition;
    background: black;
  }
  .border1 {
    top: 0;
  }
  .border2 {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .border3 {
    bottom: 0px;
  }

  .text {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: $white;
    transition: $base-transition;
    &::after {
      display: block;
      content: "MENU";
    }
  }

  &.type2 {
    .menu_icon {
      &:hover {
        .border1 {
          transform: translateY(3px);
        }
        .border3 {
          transform: translateY(-3px);
        }
      }
    }
  }
}
