.load-more {
  display: block;
  width: 100%;
  vertical-align: middle;
  border: 1px solid transparent;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;

  padding: 0.75rem 1.063rem;
  font-size: 0.875rem;
  font-weight: 400;
  border-radius: 3px;

  margin: 1.25rem 0;

  color: #686868;
  background-color: #fff;
  border-color: #ced2db;
  transition: color 0.3s, border-color 0.3s;

  &.loading {
    cursor: not-allowed;
    span {
      visibility: hidden;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      margin-left: -10px;
      border: 2px solid red;
      border-top-color: transparent;
      border-radius: 50%;
      animation: spinner 0.6s linear infinite;
    }
    
    @keyframes spinner {
      to { transform: rotate(360deg); }
    }
  }
}