.emoji-btns::before {
  content: "";
  display: block;
  overflow: hidden;
  width: 50px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background: url(/wp-content/uploads/2023/06/emojis-for.png) no-repeat;
  background-size: 250px auto;
  border-radius: 50%;
}

.emoji-btns.like::before {
  background-position: 0 0;
}

.emoji-btns.impressed::before {
  background-position: -50px 0;
}

.emoji-btns.suprised::before {
  background-position: -100px 0;
}

.emoji-btns.sad::before {
  background-position: -150px 0;
}

.emoji-btns.angry::before {
  background-position: -200px 0;
}

.emoji-btns {
  &:hover {
    transform: scale(1.05);
  }
}

.emoji-btns {
  .loading-indicator {
    
  }
}