.slider-controller {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
  font-size: 20px;
  button {
    min-width: 24px;
    width: 26px;
    height: 26px;
    padding: 4px;
    background-color: white;
    color: #bbbbbb;
    border: 1px solid #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;

    &:disabled {
      opacity: 0.4;
    }
  }
  svg {
    margin: 0;
  }
}
